/* You can add global styles to this file, and also import other style files */
$cor-verde-padrao:#7ab194;
*  {
    margin:0;
    padding:0;
}
html, body  {
    height:100%; 
    width: 100%;
    background-color: $cor-verde-padrao;
 }

 .ui.inverted.table tr td {
     padding: 2px;
 }


.TituloPagSelec{ 
    font-size: 2.5em;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
}

div.tabular.menu a.item.desativado{
    cursor: none;
    pointer-events: none;
  }

.ui.attached.label, .ui[class*="top attached"].label{
    background-color: black;
    color: white;
}

.ui.labeled.icon.button{
    background-color: $cor-verde-padrao;
    color: white;
    }

.ui.selectable.celled.table thead th{
background-color: $cor-verde-padrao;
color: white;
}