<div class="ui container ">
  <div class="ui black segment">
    <div class="row ">
      <sui-tabset>
        <div class="ui top attached tabular menu">
          <a class="item" suiTabHeader="0" [(isActive)]="enderecoEmpresaActive">Empresa do Gestor</a>
          <a class="item" suiTabHeader="1" [(isActive)]="enderecoGestorActive">Dados do Gestor</a>
          <!-- <a class="item" suiTabHeader="2" [(isActive)]="enderecoActive">Endereço</a> -->
          <a class="item" suiTabHeader="3" [(isActive)]="contatoActiveActive">Contato</a>
          <a class="item" suiTabHeader="4" [(isActive)]="instActiveActive">Instituições</a>
          <a class="item" suiTabHeader="5" [(isActive)]="perfilActiveActive">Perfil</a>
        </div>

        <!-- {
         "dsComplemento": "string",
  "dsEndereco": "string",
  "dsRazaoSocial": "string",
  "idEmpresaGestor": 0,
  "idIbge": 5300108,
  "nrCep": "string",
  "nrCnes": "string",
  "nrCnpj": 33355,
  "nrEndereco": "string"
        } -->

        <!--incio da aba trabalho do gestor-->
        <div class="ui bottom attached segment" suiTabContent="0">
          <form class="ui form" #fAddEndereco="ngForm">


            <div class="field">
              <div class="three fields">
                <div class="field">
                  <label for="dsEndereco">Endereço</label>
                  <input id="dsEndereco" type="text" name="dsEndereco" [(ngModel)]="enderecoEmpresa.dsEndereco"
                    required>
                </div>

                <div class="field">
                  <label for="dsCompleto">Complemento</label>
                  <input id="dsComplemento" type="text" name="dsComplemento" [(ngModel)]="enderecoEmpresa.dsComplemento"
                    required>
                </div>

                <div class="field">
                  <label for="nrEndereco">Nº</label>
                  <input id="nrEndereco" type="tel" name="nrEndereco" [(ngModel)]="enderecoEmpresa.nrEndereco" required>
                </div>

                <div class="field">
                  <label>Estado</label>
                  <select class="ui dropdown" name="estado" ngModel (ngModelChange)="selectUfLocal($event)">
                    <option value="">Selecione Estado</option>
                    <option *ngFor="let uf of ufsLocal" value="{{uf.uf}}">{{uf.uf}}</option>
                  </select>
                </div>

                <div class="field">
                  <label>Município</label>
                  <select class="ui dropdown" name="municipio" [(ngModel)]="enderecoEmpresa.municipio" required>
                    <option value="">Selecione Município</option>
                    <option *ngFor="let municipio of municipiosLocal" value="{{municipio.idibge}}">{{municipio.descricao}}</option>
                  </select>
                </div>


                <div class="field">
                  <label>CEP</label>
                  <input class="ui dropdown" name="nrCep" [(ngModel)]="enderecoEmpresa.nrCep">
                </div>

              </div>
            </div>

            <div class="field">
              <div class="three fields">
                <div class="field">
                  <label>CNPJ</label>
                  <input class="ui dropdown" name="nrCnpj" [(ngModel)]="enderecoEmpresa.nrCnpj" required>
                </div>
                <div class="field">
                  <label>N° CNES</label>
                  <input class="ui dropdown" name="nrCnes" [(ngModel)]="enderecoEmpresa.nrCnes">
                </div>
                <div class="field">
                  <label>Razão social</label>
                  <input class="ui dropdown" name="dsRazaoSocial" [(ngModel)]="enderecoEmpresa.dsRazaoSocial" required>
                </div>
                <div class="field">
                  <label>Empresa de Trabalho</label>
                  <select class="ui dropdown" name="idEmpresaGestor" [(ngModel)]="enderecoEmpresa.empresa" required>
                    <option value="">Empresa de Trabalhoo</option>
                    <option *ngFor="let empresa of empresasIquality" value="{{empresa}}">{{empresa}}</option>
                  </select>
                </div>

              </div>
            </div>


            <div class="ui stackable two column grid">
              <div class="column">
                <button class="ui left labeled icon button" (click)="gestorActive = true; backGestor()">
                  <i class="angle double left icon"></i>Voltar</button>
              </div>
              <div class="column">
                <button class="ui right labeled icon button right floated" (click)="salvarEmpresa(enderecoEmpresa)">
                  <i class="angle double right icon"></i>Próximo</button>
              </div>
            </div>
          </form>
        </div>
        <!--fim da aba trabalho do gestor-->




        <!-- {
{
       "dsCargo": "string",
          "dsComplemento": "string",
          "dsLogin": "string",
          "idEmmpresagestor": 0,
          "idIbge": 5300108,
          "nome": "string",
          "nrCep": "string",
          "nrCpf": "string",
          "nrEndereco": "string",
          "nrPassword": "string"
}
        } -->
        <!--incio da aba gestor-->
        <div class="ui bottom attached segment" suiTabContent="1">
          <form class="ui form" #fAddGestor="ngForm">

            <div class="field">
              <div class="three fields">
                <div class="field">
                  <label for="dsEndereco">Endereço</label>
                  <input id="dsEndereco" type="text" name="dsEndereco" [(ngModel)]="gestor.dsEndereco" required>
                </div>

                <div class="field">
                  <label for="dsCompleto">Complemento</label>
                  <input id="dsComplemento" type="text" name="dsComplemento" [(ngModel)]="gestor.dsComplemento"
                    required>
                </div>

                <div class="field">
                  <label for="nrEndereco">Nº</label>
                  <input id="nrEndereco" type="tel" name="nrEndereco" [(ngModel)]="gestor.nrEndereco" required>
                </div>

                <div class="field">
                  <label>Estado</label>
                  <select class="ui dropdown" name="estado" ngModel (ngModelChange)="selectUfLocal($event)">
                    <option value="">Selecione Estado</option>
                    <option *ngFor="let uf of ufsLocal" value="{{uf.uf}}">{{uf.uf}}</option>
                  </select>
                </div>

                <div class="field">
                  <label>Município</label>
                  <select class="ui dropdown" name="municipio" [(ngModel)]="gestor.municipio" required>
                    <option value="">Selecione Município</option>
                    <option *ngFor="let municipio of municipiosLocal" value="{{municipio.idibge}}">{{municipio.descricao}}</option>
                  </select>
                </div>


                <div class="field">
                  <label>CEP</label>
                  <input class="ui dropdown" name="nrCep" [(ngModel)]="gestor.nrCep">
                </div>

              </div>
            </div>


            <div class="field">
              <div class="four fields">
                <div class="field">
                  <label>Descrição do cargo</label>
                  <input type="text" name="dsCargo" placeholder="dsCargo" [(ngModel)]="gestor.dsCargo" #dsCargo>
                </div>
                <div class="field">
                  <label>Descrição do gestor</label>
                  <input type="text" name="dsGestor" placeholder="dsGestor" [(ngModel)]="gestor.dsGestor" #dsGestor>
                </div>
                <div class="field">
                  <label>Login</label>
                  <input type="text" name="dsLogin" placeholder="login" [(ngModel)]="gestor.dsLogin" #dsLogin>
                </div>
                <!-- <div class="field">
                    <label>Empresa</label>
                    <select class="ui dropdown" name="estado" ngModel (ngModelChange)="selectUfLocal($event)">
                      <option value="">Selecione Estado</option>
                      <option *ngFor="let uf of ufsLocal" value="{{uf.uf}}">{{uf.uf}}</option>
                    </select>
                  </div> -->
              </div>
            </div>

            <div class="field">
              <div class=" four fields">
                <div class="field">
                  <label>nome</label>
                  <input type="text" name="nome" placeholder="nome" [(ngModel)]="gestor.nome" #dsLogin>
                </div>
                <div class="field">
                  <label>CPF</label>
                  <input type="text" name="login" placeholder="nrCpf" [(ngModel)]="gestor.nrCpf" #dsLogin>
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="text" name="nrPassword" placeholder="nrPassword" [(ngModel)]="gestor.nrPassword"
                    #nrPassword>
                </div>
                <div class="field">
                  <label>Confirmar Password</label>
                  <input type="text" placeholder="passConf" #passConf>
                </div>
              </div>
            </div>
            <div class="ui stackable one column grid">
              <div class="column">
                <button class="ui left labeled icon button left floated btn-color" (click)="backEmpresa(fAddGestor); empresaActive = true">
                  <i class="angle double left icon"></i> Voltar
                </button>
                <button class="ui right labeled icon button right floated btn-color" (click)="salvarGestor(gestor)">
                  <i class="angle double right icon"></i> Próximo
                </button>
              </div>
            </div>

          </form>
        </div>
        <!--fim da aba gestor-->



        <!--incio da aba empresa-->
        <div class="ui bottom attached segment" suiTabContent="1">
          <form class="ui form" #fAddEmpresa="ngForm">
            <!--<h4 class="ui dividing header">Shipping Information</h4>-->
            <div class="field">
              <div class="two fields">

                <div class="field">
                  <label>Login</label>
                  <input type="text" name="login" placeholder="login" [(ngModel)]="gestor.login" #login>
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="text" name="password" placeholder="password" [(ngModel)]="gestor.password" #password>
                </div>
                <div class="field">
                  <label>Confirmar Password</label>
                  <input type="text" placeholder="passConf" #passConf>
                </div>

              </div>
            </div>
            <div class="ui stackable one column grid">
              <div class="column">
                <button class="ui left labeled icon button left floated btn-color" (click)="cancelarEmpresa(fAddEmpresa)">
                  <i class="angle double left icon"></i> Cancelar
                </button>
                <button class="ui right labeled icon button right floated btn-color" (click)="salvarEmpresa(fAddEmpresa)">
                  <i class="angle double right icon"></i> Próximo
                </button>
              </div>
            </div>

          </form>

        </div>
        <!--fim da aba empresa-->




        <!--incio da aba Contato-->
        <!-- {
          "emails": [
            {
              "dsEmail": "string",
              "idEmail": 0
            }
          ],
          "idGestor": 2,
          "telefones": [
            {
              "dsTelefone": "string",
              "idTelefone": 0,
              "tpTelefone": "string"
            }
          ]
        } -->

        <div class="ui bottom attached segment" suiTabContent="3">
          <form class="ui form" #fAddContato="ngForm">
            <div class="field">
              <div class="fields">

                <div class="six wide field">
                  <label for="dsEmail">E-mail</label>
                  <input type="text" class="validate" name="dsEmail" [(ngModel)]="contato.dsEmail" required>
                </div>

                <div class="three wide field">
                  
                  <label for="tpTelefone">tipo de telefone</label>
                  <select class="ui dropdown" [(ngModel)]="contato.tpTelefone" name="tpTelefone">
                    <option value="F">Fixo</option>
                    <option value="M">Movel</option>
                  </select>
                </div>

                <div class="three wide field">
                  <label for="Telefone">Telefone</label>
                  <input id="numero" type="tel" class="validate" name="dsTelefone" [(ngModel)]="contato.dsTelefone">
                </div>

                <div class="four wide field">
                  <button class="ui google plus labeled icon button" (click)="adicionarContato(fAddContato)">
                    <i class="plus icon"></i>
                    Adicionar Contato
                  </button>
                </div>

              </div>
            </div>


            <table class="ui selectable celled table">
              <thead>
                <tr>
                  <th class="ui center aligned collapsing">
                    Email
                  </th>
                  <th class="ui center aligned collapsing">
                    Tipo de telefone
                  </th>
                  <th class="ui center aligned collapsing">
                    Telefone
                  </th>

                  <th class="ui center aligned collapsing">
                    <p>Ações</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contatoGestor of  contatosGestor" class="ui center aligned collapsing">
                  <td>{{contatoGestor.email}}</td>
                  <td>{{contatoGestor.tipo}}</td>
                  <td>{{contatoGestor.telefone}}</td>


                  <td class="ui center aligned collapsing">
                    <a class="ui icon button circular" [routerLink]="['']" suiPopup popupHeader="Visualizar"
                      popupInverted="true">
                      <i class="search icon"></i>
                    </a>
                    <a class="mini ui icon button circular" [routerLink]="['edit', gestor.cpf]" suiPopup popupHeader="Editar"
                      popupInverted="true">
                      <i class="pencil alternate icon"></i>
                    </a>
                    <a class="mini ui icon button circular" (click)="removerGestor(gestor.cpf, i)" suiPopup popupHeader="Remover"
                      popupInverted="true">
                      <i class="trash alternate icon"></i>
                    </a>
                  </td>
                </tr>

              </tbody>
              <tfoot>
                <tr>

                  <th colspan="7">
                    <div class="ui right floated pagination menu">
                      <sui-pagination [collectionSize]='totalItens' [pageSize]="numeroPagina" [maxSize]="10"
                        [hasEllipses]="true" [(page)]="select" (click)="page(select)">

                      </sui-pagination>
                    </div>
                  </th>

                </tr>
              </tfoot>
            </table>
            <p></p>

            <div class="ui stackable two column grid">
              <div class="column">
                <button class="ui left labeled icon button" (click)="enderecoActive = true ; backEndereco()">
                  <i class="angle double left icon"></i>Voltar</button>
              </div>
              <div class="column">
                <button class="ui right labeled icon button right floated" (click)="instActive = true;salvarContato();">
                  <i class="angle double right icon"></i>Próximo</button>
              </div>
            </div>
          </form>

        </div>
        <!--fim da aba Contato-->

        <!--incio da aba Instituições-->
        <!--incio da aba Instituições-->
        <div class="ui bottom attached segment" suiTabContent="4">
          <form class="ui form" #fAddInstituicao="ngForm" (ngSubmit)="adicionarInstituicao(fAddInstituicao)">
            <div class="field">
              <div class="fields">
                <div class="four wide field">
                  <label>Estado</label>
                  <select class="ui dropdown" name="uf" [(ngModel)]="instituicao.uf" (ngModelChange)="selectUf($event)"
                    #uf required>
                    <option value="">Selecione Estado</option>
                    <option *ngFor="let uf of ufs" value="{{uf.id_uf}}">{{uf.no_uf_completo}}</option>
                  </select>
                </div>

                <div class="six wide field">
                  <label>Municipio</label>
                  <select class="ui dropdown" name="municipio" [(ngModel)]="instituicao.municipio" (ngModelChange)="getBairros($event)"
                    #municipio required>
                    <option value="">Selecione municipio</option>
                    <option *ngFor="let municipio of municipios" value="{{municipio.id_municipio}}">{{municipio.no_mun_completo}}</option>
                  </select>
                </div>

                <div class="six wide field">
                  <label>Bairro</label>
                  <select class="ui dropdown" name="bairro" [(ngModel)]="instituicao.bairro" #bairro required>
                    <option value="">Selecione Bairro</option>
                    <option *ngFor="let bairro of bairros" value="{{bairro.no_bairro}}">{{bairro.no_bairro}}</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="field">
              <div class="fields">

                <div class="four wide field">
                  <label>Tipo de Instituição</label>
                  <select class="ui dropdown" name="tipInst" [(ngModel)]="instituicao.tipInst" (ngModelChange)="getInsts(instituicao)"
                    #tipInst required>
                    <option value="">Selecione</option>
                    <option *ngFor="let tipInst of tipInsts" value="{{tipInst.id_tipo_unidade}}">{{tipInst.ds_tipo_unidade}}</option>
                  </select>
                </div>

                <div class="eight wide field">
                  <label>Instituição de Saúde</label>
                  <select class="ui dropdown" name="idInstituicao_saude" [(ngModel)]="instituicao.idInstituicao_saude"
                    #instSau required>
                    <option value="">Selecione</option>
                    <option *ngFor="let instSau of instsSau" value="{{instSau.id_unidade}}">{{instSau.no_fantasia}}</option>
                  </select>
                </div>

                <div class="four wide field">
                  <button class="ui google plus labeled icon button" [disabled]="fAddInstituicao.invalid">
                    <i class="plus icon"></i>
                    Adicionar Instituição
                  </button>
                </div>

              </div>
            </div>

          </form>
          <br>
          <br>
          <br>

          <div class="left floated left aligned sixteen wide column">
            <div class="ui raised segment">
              <a class="ui red ribbon label">INSTITUIÇÕES CADASTRADAS</a>
              <p></p>

              <div class="ui stackable one column grid">

                <div class="sixteen wide column">
                  <table class="ui selectable celled table">
                    <thead>
                      <tr>
                        <th class="ui center aligned collapsing">Tipo de Instituição</th>
                        <th class="ui center aligned collapsing">Instituição de Saúde</th>
                        <th class="ui center aligned collapsing">Estado</th>
                        <th class="ui center aligned collapsing">Municipio</th>
                        <th class="ui center aligned collapsing">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="ui center aligned collapsing">
                        <td>John</td>
                        <td>Approved</td>
                        <td>None</td>
                        <td>None</td>
                        <td>
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover"
                            popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="ui center aligned collapsing">
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td>None</td>
                        <td>None</td>
                        <td>
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover"
                            popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="ui center aligned collapsing">
                        <td>Jill</td>
                        <td>Denied</td>
                        <td>None</td>
                        <td>None</td>
                        <td>
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover"
                            popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui left labeled icon button" (click)="backContato()">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui right labeled icon button right floated" (click)="perfilActive = true; salvarInstituicao(fAddInstituicao)">
                <i class="angle double right icon"></i>Próximo</button>
            </div>
          </div>

        </div>

        <!--fim da aba Instituições-->


        <!--incio da aba Perfil-->
        <div class="ui bottom attached segment" suiTabContent="5">

          <div class="ui four column centered grid" *ngIf="BotoesPrincipais">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>

            <div class="one column centered row">
              <div class="ui buttons">
                <button class="ui google plus button" value="existente" (click)="ativarFuncionalidade(existente.value)"
                  #existente>Selecionar
                  um perfil já existente</button>
                <div class="or" data-text="ou"></div>
                <button class="ui google plus button" value="novo" (click)="ativarFuncionalidade(novo.value)" #novo>Criar
                  um novo perfil</button>
              </div>
            </div>

          </div>

          <form class="ui form" #fAddPerfil="ngForm" *ngIf="controleSelePerfilExistent">
            <div class="header">

              <div class="ui grid">
                <div class="fifteen wide center aligned column">
                  Selecão de Perfil
                </div>
                <div class="one wide column">
                  <button class="ui google plus right labeled icon button right floated" (click)="VoltarBotoesPrin()">
                    <i class="close link icon" suiPopup popupHeader="Cancelar" popupInverted="true"></i>Cancelar</button>
                </div>
              </div>
            </div>

            <div class="ui  grid">

              <div class="eight wide column">
                <sui-checkbox name="example" value="irs" [(ngModel)]="irs">Perfis do IRadar Saude</sui-checkbox>
              </div>

              <div class="eight wide column">
                <sui-checkbox name="example" value="iqs" [(ngModel)]="iqs">Perfis do IQuality Saude</sui-checkbox>
              </div>


              <div class="eight wide column">
                <label>Selecione o Perfil</label>
                <select class="ui dropdown" name="perfilIQS" [(ngModel)]="perfil.idPerfil" required #perfilIRS>
                  <option value="">Selecione um Perfil</option>
                  <option *ngFor="let perfilIQS of perfisIQSs" value="{{perfilIQS.perfilIRS}}">{{perfilIRS.perfilIRS}}</option>
                </select>
              </div>

              <div class="eight wide column">
                <label>Selecione o Perfil</label>
                <select class="ui dropdown" name="perfilIQS" [(ngModel)]="perfil.idPerfil" required #perfilIRS>
                  <option value="">Selecione um Perfil</option>
                  <option *ngFor="let perfilIQS of perfisIQSs" value="{{perfilIQS.perfilIRS}}">{{perfilIRS.perfilIRS}}</option>
                </select>
              </div>


            </div>

          </form>


          <div class="ui list" *ngIf="DetalhePerfil">
            <div class="item">
              <i class="list icon"></i>
              <div class="content">
                <label class="header">Detalhe(s) do(s) Perfil(s) Escolhido(s):</label>
                <div class="description">
                  <ul class="ui list">
                    <li>Gaining Access</li>
                    <li>Inviting Friends</li>
                    <li>Benefits </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <form class="ui form" #fAddPerfilNovo="ngForm" *ngIf="controleCriarNovoPerfil">
            <div class="header">

              <div class="ui grid">
                <div class="fifteen wide center aligned column">
                  Criação de Perfil
                </div>
                <div class="one wide column">
                  <button class="ui google plus right labeled icon button right floated" (click)="VoltarBotoesPrin()">
                    <i class="close link icon" suiPopup popupHeader="Cancelar" popupInverted="true"></i>Cancelar</button>
                </div>
              </div>
            </div>

            <div class="ui grid">

              <div class="six wide column">
                <label>Nome do Perfil</label>
                <input type="text" name="nomeperfil" [(ngModel)]="novoPerfil.nomeperfil" placeholder="Digite o Nome do Perfil">
              </div>

              <div class="five wide column">
                <label>Nome do Novo Módulo</label>
                <input type="text" name="nomeModuloperfil" [(ngModel)]="novoPerfil.nomeModuloperfil" placeholder="Digite o Nome do Perfil">
              </div>

              <div class="five wide column">
                <label>Selecione a Visão:</label>
                <select class="ui dropdown" required #perfilIRS>
                  <option value="">Selecione uma Visão</option>
                  <option *ngFor="let visao of visoes" value="{{visao?.idVisao}}">{{visao?.descricao}}</option>
                </select>
              </div>

            </div>

            <div class="ui grid">

              <div class="eight wide column">
                <label>Selecione os modulos do IRadar Saude</label>
                <select class="ui dropdown" required #perfilIRS>
                  <option value="">Selecione um Perfil</option>
                  <option *ngFor="let perfilIQS of perfisIQSs" value="{{perfilIQS.id}}">{{perfilIRS.descricao}}</option>
                </select>
              </div>

              <div class="eight wide column">
                <label>Selecione os modulos do IQuality Saude</label>
                <select class="ui dropdown" required #perfilIRS>
                  <option value="">Selecione um Perfil</option>
                  <option *ngFor="let perfisIQS of perfisIQSs" value="{{perfisIQS.id}}">{{perfisIQS.descricao}}</option>
                </select>
              </div>
            </div>
          </form>

          <br>
          <br>
          <br>

          <div class="left floated left aligned sixteen wide column" *ngIf="perfisForm">
            <div class="ui raised segment">
              <a class="ui red ribbon label">MODULOS CADASTRADOS</a>
              <p></p>

              <div class="ui stackable one column grid">

                <div class="sixteen wide column">
                  <table class="ui selectable celled table">
                    <thead>
                      <tr>
                        <th class="ui center aligned collapsing">Sistema</th>
                        <th class="ui center aligned collapsing">Nome do Modulo</th>
                        <th class="ui center aligned collapsing">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="ui center aligned collapsing">
                        <td>John</td>
                        <td>Approved</td>
                        <td>
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover"
                            popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="ui center aligned collapsing">
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td>
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover"
                            popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="ui center aligned collapsing">
                        <td>Jill</td>
                        <td>Denied</td>
                        <td>
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover"
                            popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="ui stackable four column grid">

            <div class="column" *ngFor="let tipologia of tipologiasGuardadas" suiPopup popupText="Remover Tipologia"
              popupInverted [popupPlacement]="'top left'">
              <a class="ui button btn-tipologia" (click)="openModal(tipologia)">{{tipologia.nome}}</a>
            </div>

            <sui-modal *ngIf="abrirNodal" [isClosable]="false" [transition]="'scale'" [transitionDuration]="500" #modal>
              <div class="header">

                <div class="ui grid">
                  <div class="fifteen wide column">
                    Remoção
                  </div>
                  <div class="one wide column">
                    <i class="close red link icon" (click)="closeModal(false)"></i>
                  </div>
                </div>

              </div>
              <div class="content">
                <p>Tem certeza que deseja remover a tiplogia {{condicao}} ?</p>
              </div>
              <div class="actions">
                <button class="ui red button" (click)="closeModal(false)">Cancel</button>
                <button class="ui green button" (click)="removerTipologia(); modal.approve('done')" autofocus>OK</button>
              </div>
            </sui-modal>

          </div>



          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui left labeled icon button" (click)="instActive = true ; backInstituicao()">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui positive right labeled icon button right floated" (click)="salvarPerfil(perfil, novoPerfil)">
                <i class="check circle right icon"></i>Aplicar</button>
            </div>
          </div>

        </div>
        <!--fim da aba Perfil-->




      </sui-tabset>

    </div>
  </div>


</div>